@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
#loopingVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.paper-audio-player-0 {
  display: block;
  margin: auto;
  box-sizing: border-box;
  width: 90%;
  font-family: 'Roboto Mono', 'Helvetica Neue', Arial, sans-serif;
}

#duration {
  display: none;
}

.audioPlayer {
  letter-spacing: 1.2px;
  font-size: 15px;
  position: fixed;
  text-align: center;
  bottom: 20px;
  width: 100%;
  bottom: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* .ml15 {
  font-weight: 800;
  font-size: 3.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
} */

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}

.welcomeText {
  bottom: 30px;
  position: fixed;
  font-family: 'Anton', sans-serif;
  margin: auto;
  text-align: center;
  padding-top: 200px;
  text-transform: uppercase;
  width: 100%;
  mix-blend-mode: overlay;
}